<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Drawing-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Drawing-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DrawingKit-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DrawingKit-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A01D807920C879CD00870DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0442E8E20CB921100F691A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0ED623120CC50DD00C3DCAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FC296620CB22E30051D4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FC298220CB246C0051D4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FC299020CB24B80051D4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FC29AC20CB2E810051D4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FC29B520CB30870051D4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
